<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCComposedAVURL</key>
	<string>file:///Users/roldan/Library/Group%20Containers/group.com.apple.VoiceMemos.shared/Recordings/20250502%20201403.m4a</string>
	<key>RCComposedWaveformURL</key>
	<string>file:///Users/roldan/Library/Group%20Containers/group.com.apple.VoiceMemos.shared/Recordings/20250502%20201403.waveform</string>
	<key>RCDecomposedFragments</key>
	<array/>
	<key>RCSavedRecordingCreationDate</key>
	<date>2025-05-03T02:14:03Z</date>
	<key>RCSavedRecordingCreationTime</key>
	<real>767931243.59194005</real>
	<key>RCSavedRecordingTitle</key>
	<string>Task/memory</string>
	<key>RCSavedRecordingUUID</key>
	<string>AD91FB89-6004-4A28-ACD8-473BE54EA731</string>
</dict>
</plist>
