<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCComposedAVURL</key>
	<string>file:///Users/roldan/Library/Group%20Containers/group.com.apple.VoiceMemos.shared/Recordings/20250502%20201433.m4a</string>
	<key>RCComposedWaveformURL</key>
	<string>file:///Users/roldan/Library/Group%20Containers/group.com.apple.VoiceMemos.shared/Recordings/20250502%20201433.waveform</string>
	<key>RCDecomposedFragments</key>
	<array/>
	<key>RCSavedRecordingCreationDate</key>
	<date>2025-05-03T02:14:33Z</date>
	<key>RCSavedRecordingCreationTime</key>
	<real>767931273.51370096</real>
	<key>RCSavedRecordingTitle</key>
	<string>WGU/memory 2</string>
	<key>RCSavedRecordingUUID</key>
	<string>56839926-A613-4E55-A09A-F2E0C3659C67</string>
</dict>
</plist>
